#diveCenterBookingContatiner {
  margin: 25px auto;
}

#diveCenterForm {
  margin: auto auto 50px;
  width: 80%;
  padding: 25px auto;
}

#yourName,
#diveCenterName,
#diveCenterDate {
  text-align: center;
  padding: 10px 15px;
  border-radius: 15px;
  border: 1px grey solid;
}

#diveSubmit {
  padding: 10px 30px;
  border-radius: 10px;
  color: white;
  background: orange;
}

#yourName,
#diveCentername,
#diveCenterDate,
#diveSubmit {
  display: block;
  margin: 10px auto;
}
