@media (min-width: 768px) {
  /*banner*/
  #bannerContainer {
    margin: -250px auto auto;
    z-index: 1;
  }

  #bannerIconContainer {
    margin: auto;
  }

  .Container {
    display: inline-block;
    margin: 100px 15px;
  }

  /*download container*/

  #downloadContainer,
  #phoneImageContainer {
    display: inline-block;
    margin: auto;
  }

  #downloadSpacer {
    display: inline-block;
    width: 1%;
  }

  #downloadTextContainer {
    color: white;
    margin: 25px auto;
    width: 50%;
  }

  #appstoreContainer {
    display: block;
  }

  #googlestoreContainer {
    display: block;
  }

  #downloadText1,
  #downloadText2 {
    margin: 15px auto;
    text-align: left;
  }

  /*booking section*/

  #diveCenterForm,
  #diveCenterText {
    display: inline-block;
    width: 50%;
  }

  /*  Elevate Section*/

  #elevateTextContainer,
  #elevateImageContainer {
    width: 50%;
    display: inline-block;
    margin: auto;
  }

  #elevateTitle,
  #elevateText {
    text-align: left;
  }

  /*review container*/

  #review1,
  #review2,
  #review3 {
    display: inline-block;
    width: 33%;
    margin: 50px 50px;
  }

  /*contact section*/

  #contactSubmit {
    margin: 25px auto;
    display: block;
  }
}

@media (min-width: 1025px) {
  /*Header section*/

  #headerBottom {
    z-index: -1;
  }

  /*Banner section*/

  #bannerContainer {
    margin: -550px auto auto;
    z-index: 1;
  }

  #bannerIconContainer {
    margin: auto;
  }

  .Container {
    display: inline-block;
    margin: 100px 25px;
  }

  .image {
    height: 100px;
  }

  /*Download section*/

  #downloadTextContainer {
    width: 70%;
  }

  #downloadSpacer {
    display: inline-block;
    width: 20%;
  }

  #phoneImage {
    height: 350px;
    width: 225px;
  }
  /* booking section*/

  #diveCenterForm {
    display: inline-block;
    width: 40%;
  }

  #diveCenterText {
    display: inline-block;
    width: 40%;
  }

  #formTitle {
    margin-bottom: 25px;
  }

  /*Elevate section*/
  #elevateTextContainer {
    margin-top: -250px;
  }

  #elevateImageContainer {
    margin-top: 150px;
  }

  #redBox {
    height: 550px;
    width: 550px;
    z-index: -1;
  }

  #elevateTextContainer,
  #elevateImageContainer {
    display: inline-block;
    margin: auto;
    width: 40%;
  }

  /*Reviews section*/
  #reviewsContainer {
    margin: 50px auto;
  }

  .reviews {
    width: 30%;
    display: inline-block;
  }

  #review1,
  #review2,
  #review3 {
    margin: 50px 50px;
    width: 25%;
  }

  .circle,
  .name,
  .bigBox,
  .stars {
    margin-top: 25px;
  }

  .circle {
    height: 50px;
    width: 50px;
    border-radius: 25px;
    border: 1px solid black;
    margin: 25px auto;
  }

  .name {
    height: 50px;
    width: 200px;
    margin: auto;
    border: 1px solid grey;
    border-radius: 10px;
  }

  .stars {
    height: 25px;
    width: 25px;
    border-radius: 12.5px;
    background: orange;
    border: 1px solid orange;
    margin: auto;
    display: inline-block;
  }

  .bigBox {
    height: 100px;
    width: 400px;
    margin: auto auto 25px;
    border: 1px solid grey;
    border-radius: 10px;
  }

  /*contact and Feedback section*/

  #contactFeedbackText {
    display: inline-block;
    width: 40%;
  }

  #contactMainText {
    text-align: left;
    margin-top: 50px;
  }

  #contactForm {
    display: inline-block;
    width: 40%;
  }

  /*Footer section*/
  .footerItem {
    display: inline-block;
    width: 30%;
    text-align: left;
  }
}

@media (min-width: 1800px) {
  #bannerContainer {
    margin: -690px auto auto;
    z-index: 1;
  }
}
